.middle{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap:30px;
    width: fit-content;
}

.search-bar{
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(116, 115, 115, 0.863);
    border-radius: 20px;
}

::placeholder {
    padding: 10px;
    opacity: 1;
  }
  

.form-control{
    width: 30vw;
    height:30px;
    outline: 0;
    border: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:5px;
    background-color: rgb(227, 229, 231);
    width: 25px;
    height: 30px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.micro-phone-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: rgb(227, 229, 231);
    border-radius:50%;
}