.Nav-bar{
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100vw;
    height: fit-content;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
}


.YT{
    height: 47px;

}